<mat-toolbar color="primary">
  <button
    mat-button
    [ngClass]="{ 'active-button': selectedButton === 'about-us' }"
    (click)="onToggleDescription('about-us')"
  >
    CHI SIAMO
  </button>
  <button
    mat-button
    [ngClass]="{ 'active-button': selectedButton === 'desc-viaggi' }"
    (click)="onToggleDescription('desc-viaggi')"
  >
    I VIAGGI
  </button>
  <button
    mat-button
    [ngClass]="{ 'active-button': selectedButton === 'desc-contattaci' }"
    (click)="onToggleDescription('desc-contattaci')"
  >
    CONTATTACI
  </button>
  <button
    *ngIf="getVisibilityAreaPersonal()"
    mat-button
    [ngClass]="{ 'active-button': selectedButton === 'desc-area-personale' }"
    (click)="onToggleDescription('desc-area-personale')"
  >
    AREA PERSONALE
  </button>
</mat-toolbar>
