mat-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;

  button.mat-button {
    transition: background-color 0.3s ease; /* Aggiunge una transizione fluida */
  }
}

@media (max-width: 576px) {
  button {
    font-size: 0.5em;
  }
}

.active-button {
  background-color: #13831f; /* Colore di background del pulsante attivo */
  color: #ffffff !important; /* Colore del testo del pulsante attivo */
}
