.container-fluid {
  //background-image: url("/images/sfondo-area-personale.jpg"); // Sostituisci con il percorso della tua immagine
  //background-size: cover; // Copre l'intero container
  //background-position: center; // Centra l'immagine
  padding: 0; // Padding interno del container

  .container-area-personale {
    height: 80vh; // Imposta l'altezza del container
    background-color: rgba(202, 236, 92, 0.7882352941);

    .anim-card {
      cursor: pointer;

      &.sfondo-tuoi-viaggi {
        background-image: url("/images/tuoi-viaggi.jpg"); // Sostituisci con il percorso della tua immagine
        background-size: cover; // Copre l'intero container
        background-position: center; // Centra l'immagine
      }

      &.sfondo-crea-viaggio {
        background-image: url("/images/crea-viaggio.jpg"); // Sostituisci con il percorso della tua immagine
        background-size: cover; // Copre l'intero container
        background-position: center; // Centra l'immagine
      }

      &.sfondo-mie-iscrizioni {
        background-image: url("/images/mie-iscrizioni.jpg"); // Sostituisci con il percorso della tua immagine
        background-size: cover; // Copre l'intero container
        background-position: center; // Centra l'immagine
      }

      .dimension-card {
        width: 15em;
        height: 15em;
      }
    }
  }
}
