// Definizione della variabile colore
$main-color: #318d88;
$bg-color-main: #bac9d0;

header {
  background-color: $main-color;
  color: $bg-color-main;
  padding: 1rem;

  .header-container {
    display: flex; // Layout a flexbox
    align-items: center; // Allineamento verticale
    justify-content: space-between; // Spaziatura tra gli elementi

    .icon-container {
      display: flex; // Layout a flexbox per l'icona
      align-items: center; // Allineamento verticale
      position: relative; // Necessario per il posizionamento dell'animazione

      .custom-icon {
        width: 40px; // Larghezza dell'icona personalizzata
        height: 40px; // Altezza dell'icona personalizzata
        margin-left: 8px; // Spaziatura tra l'icona e il titolo
        cursor: pointer;
        transition: transform 0.3s ease; // Transizione per l'ingrandimento
      }

      .login-icon {
        font-size: 2.5em;
        width: 1em; // Larghezza dell'icona personalizzata
        height: 1em; // Altezza dell'icona personalizzata
        margin-right: 8px; // Spaziatura tra l'icona e il titolo
        cursor: pointer;
        transition: transform 0.3s ease; // Transizione per l'ingrandimento
      }

      // Aggiungiamo l'effetto di ingrandimento
      &:hover .custom-icon,
      &:hover .login-icon {
        transform: scale(1.8); // Ingrossa l'icona al passaggio del mouse
      }
    }

    .header-title {
      flex: 1; // Occupa lo spazio rimanente
      text-align: center; // Centra il titolo
      font-size: 2rem; // Dimensione del font
      margin: 0; // Rimuove il margine di default
    }
  }
}
