<header>
  <div class="header-container">
    <div class="icon-container px-2" [routerLink]="['/']" routerLinkActive="active">
      <img
        src="/images/mondo.png"
        alt="Logo"
        class="custom-icon"
        (click)="toggleIconLogoMondo()"
      />
    </div>
    <h1 class="header-title">Viaggio Da Solo</h1>
    <div class="icon-container">
      <mat-icon
        *ngIf="showLoginIcon"
        class="login-icon"
        [routerLink]="['/login-component']"
        routerLinkActive="active"
        (click)="toggleIconLogin()"
        >account_circle</mat-icon
      >
    </div>
    <!-- Logout Icon -->
    <div class="icon-container">
      <mat-icon *ngIf="showLogoutIcon" class="logout-icon" (click)="logout()"
        >logout</mat-icon
      >
    </div>
  </div>
</header>
