.container {
  

  .register-card {
    /*background-image: url("/images/boke-register.jpg"); // Sostituisci con il percorso della tua immagine
    background-size: cover; // Copre l'intero container
    background-position: center; // Centra l'immagine
    */
    margin-top: 3em;

    .row {
      margin: 4rem;

      .invia-dati {
        display: flex;
        justify-content: center;

        button {
          width: 15%;
          margin-bottom: 2em;
          
        }
      }
    }
  }
}
