.container {
  background: linear-gradient(#eddece, #02202d);

  .register-card {
    background-image: url("/images/boke-register.jpg"); // Sostituisci con il percorso della tua immagine
    background-size: cover; // Copre l'intero container
    background-position: center; // Centra l'immagine

    .group-inputs {
      padding: 0 3em;
      mat-form-field {
        width: 100%;
      }
    }

    .invia-dati {
      display: flex;
      justify-content: center;

      button {
        width: 15%;
        margin-bottom: 2em;
        color: #09a58e;
      }
    }
  }

}