<main class="background-container-first">
  <div class="content">
    <p>
      ViaggioDaSolo è l'essenza del viaggio condiviso: amici, viaggiatori e
      persone di ogni età si uniscono in gruppi autogestiti per esplorare
      insieme i luoghi più remoti del mondo, vivendo l'emozione della scoperta,
      dell'amicizia e delle sfide. Un'esperienza di viaggio aperta a tutti.
    </p>
  </div>
</main>

<main class="background-container-second">
  <div class="content">
    <p class="text-right">
      La nostra formula è basata su autogestione, collaborazione e condivisione!
      Per chi si avvicina a noi per la prima volta, sappiate che ogni angolo del
      mondo è alla vostra portata: dall'Alaska alla Patagonia, dalla Groenlandia
      all'Africa, fino alle remote isole del Pacifico. Con i nostri gruppi, ogni
      esperienza di viaggio è non solo un sogno, ma una realtà che potete
      vivere.
    </p>
  </div>
</main>

<main class="background-container-third">
  <div class="content">
    <p>
      Scopri il mondo attraverso i suoi sapori! I nostri tour gastronomici
      offrono un'esperienza unica di autogestione e collaborazione, portandoti a
      esplorare le tradizioni culinarie locali. Dai mercati vivaci di Bangkok ai
      ristoranti stellati di Roma, ogni tappa è un'opportunità per assaporare
      piatti autentici e conoscere culture diverse.
    </p>
  </div>
</main>

<app-footer></app-footer>
